<div class="gridCourse">
    <div class="card">
        <img th:src="@{/img/git.png}" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>
            GitHub course</b></h4>
          <p>GitHub is a forge for hosting projects using the Git version control 
            system. It is mainly used for creating source code for computer programs.
             The software that runs 
            GitHub was written in Ruby on Rails. Since January 2010</p>
        </div>
      </div>
      <div class="card">
        <img th:src="@{/img/doker.png}" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>
           Docker course</b></h4>
          <p>GitHub is a forge for hosting projects using the Git version control 
            system. It is mainly used for creating source code for computer programs.
             The software that runs 
            GitHub was written in Ruby on Rails. Since January 2010</p>
        </div>
      </div>
      <div class="card">
        <img th:src="@{/img/postman.jpg}" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>
            PostMan course</b></h4>
          <p>GitHub is a forge for hosting projects using the Git version control 
            system. It is mainly used for creating source code for computer programs.
             The software that runs 
            GitHub was written in Ruby on Rails. Since January 2010</p>
        </div>
      </div>
      <div class="card">
        <img th:src="@{/img/sql.png}" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>
            Sql course</b></h4>
          <p>GitHub is a forge for hosting projects using the Git version control 
            system. It is mainly used for creating source code for computer programs.
             The software that runs 
            GitHub was written in Ruby on Rails. Since January 2010</p>
        </div>
      </div>
      <div class="card">
        <img th:src="@{/img/spring.jpg}" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>
            Spring boot course</b></h4>
          <p>GitHub is a forge for hosting projects using the Git version control 
            system. It is mainly used for creating source code for computer programs.
             The software that runs 
            GitHub was written in Ruby on Rails. Since January 2010</p>
        </div>
      </div>
      <div class="card">
        <img th:src="@{/img/python.png  }" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>
            Python course</b></h4>
          <p>GitHub is a forge for hosting projects using the Git version control 
            system. It is mainly used for creating source code for computer programs.
             The software that runs 
            GitHub was written in Ruby on Rails. Since January 2010</p>
        </div>
      </div>
      <div class="card">
        <img th:src="@{/img/java.png}" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>
            Java POO course</b></h4>
          <p>GitHub is a forge for hosting projects using the Git version control 
            system. It is mainly used for creating source code for computer programs.
             The software that runs 
            GitHub was written in Ruby on Rails. Since January 2010</p>
        </div>
      </div>
      <div class="card">
        <img th:src="@{/img/git.png}" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>
            GitHub course</b></h4>
          <p>GitHub is a forge for hosting projects using the Git version control 
            system. It is mainly used for creating source code for computer programs.
             The software that runs 
            GitHub was written in Ruby on Rails. Since January 2010</p>
        </div>
      </div>
      <div class="card">
        <img th:src="@{/img/git.png}" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>
            GitHub course</b></h4>
          <p>GitHub is a forge for hosting projects using the Git version control 
            system. It is mainly used for creating source code for computer programs.
             The software that runs 
            GitHub was written in Ruby on Rails. Since January 2010</p>
        </div>
      </div>
      <div class="card">
        <img th:src="@{/img/git.png}" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>
            GitHub course</b></h4>
          <p>GitHub is a forge for hosting projects using the Git version control 
            system. It is mainly used for creating source code for computer programs.
             The software that runs 
            GitHub was written in Ruby on Rails. Since January 2010</p>
        </div>
      </div>
</div>