.textPrincipal{
    font-size: 70px;
    padding: 20px;
    margin: 30px;
    margin-top: 20px;
    margin-bottom: 60px;
}
body{
    background-color: rgb(255, 254, 253);
   
}
footer{
    background-color: rgb(32, 32, 180);
}
footer section{
    font-size: 18px;
    color: white;
}
.text-copyrig{
    font-size: 18px;
    background-color: rgb(18, 18, 112);
    text-align: center;
    color: white;
}
.listFooter{
    display: grid;
    gap: 1rem ;
    grid-auto-rows: 20rem;
    grid-template-columns: repeat(auto-fill,minmax(min(100%,12rem),1fr));
}
footer li:hover {
    background-color: rgb(25, 25, 138);
}
nav{
    margin: 10px;
}
.nombrePrincipal{
    font-size: 40px;
}


.tols{
    display: grid;
    gap: 1rem ;
    grid-auto-flow: dense;
    grid-auto-rows: 10rem;
    grid-template-columns: repeat(auto-fill,minmax(min(100%,10rem),1fr));
}
.tols{
    margin: 60px;
}
.nameTols{
    text-align: center;
    font-size: 40px;
    margin: 10px;
}
.nameTols:hover{
    background-color: aliceblue;
}
.gridDocente{
    display: grid;
    gap: 1rem ;
    grid-auto-flow: dense;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill,minmax(min(100%,28rem),1fr));
}
.gridDocente{
    margin-left: 20px;
}
.textDocente{
    text-align: center;
    font-size: 40px;
    margin: 10px;
    margin-bottom: 80px;

}


.mostrarArriba{
    animation: mostrarArriba 1s;
}
@keyframes mostrarArriba {
    0%{
        transform: translateY(60px);
    }
    100%{
        transform:translateY(0);
    }
}

.btnCursos a{
       margin-left: 40%;
         font-size: 60px;
        outline: none;
        text-decoration: none;
        padding: 2px 1px 0;
        margin-bottom: 80px;
    
}
.btnCursos a:hover{
    color: green;
    background-color: rgb(227, 235, 227);
    border-radius: 10%;
}

@media (max-width: 750px) {
    .textPrincipal {
        font-size: 35px;
        text-justify: auto;
    }
     
  }
  
  
@media (max-width: 750px) {
    .btnCursos a{
        font-size: 30px;
    }
  }
  @media (max-width: 680px) {
    .textDocente {
        font-size: 30px;
    }
  }
   