<html lang="en">
    <html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeFriends | cursos</title>
    <link rel="shortcut icon"  th:src="@{/img/homeicon.png}">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/indexStyle.css}"/>
<link rel="stylesheet" th:href="@{/css/courseStyle.css}"/>
</head>
<body>
  <div class="">
    <div th:include="html/menu.html " th:remove="tag"></div>
  </div>
  <div class="">
    <div th:include="curso/motivacionCurso.html " th:remove="tag"></div>
  </div>
  <div class="">
    <div th:include="curso/cardCurso.html " th:remove="tag"></div>
  </div>
    <div class="">
      <div th:include="html/footer.html " th:remove="tag"></div>
    </div>
</body>
</html>