<html lang="en">
    <html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>web-turing | prueba</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/indexStyle.css}"/>
</head>
<body>
  <nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">slalom</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar w/ text</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">what we do</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">who we are</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">careers</a>
          </li>
        </ul>
        <span class="navbar-text">
        </span>
      </div>
    </div>
  </nav>
    <div>dentrode de spring y controlador</div>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img width="40px" th:src="@{images/avatar.jpg}" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Usuario:</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Usuario</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
   <div class="footer_principal">
    <footer class="footer">
      <div class="container bottom_border">
      <div class="row">
      <div class=" col-sm-4 col-md col-sm-4  col-12 col">
      <h5 class="headin5_amrc col_white_amrc pt2">Slalom</h5>
      <!--headin5_amrc-->
      
      
      <p class="mb10">Visit our Medium publication The Slowdown for explorations of diversity, inclusion, and the future.</p>
      <p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>
      <p><i class="fa fa-phone"></i>  +91-9999878398  </p>
      <p><i class="fa fa fa-envelope"></i> info@example.com  </p>
      
      
      </div>
      
      
      <div class=" col-sm-4 col-md  col-6 col">
      <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
      <!--headin5_amrc-->
      <ul class="footer_ul_amrc">
      <li><a href="http://webenlance.com">Image Rectoucing</a></li>
      <li><a href="http://webenlance.com">Clipping Path</a></li>
      <li><a href="http://webenlance.com">Hollow Man Montage</a></li>
      
      </ul>
      <!--footer_ul_amrc ends here-->
      </div>
      
      
      <div class=" col-sm-4 col-md  col-6 col">
      <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
      <!--headin5_amrc-->
      <ul class="footer_ul_amrc">
      <li><a href="http://webenlance.com">Remove Background</a></li>
      <li><a href="http://webenlance.com">Shadows & Mirror Reflection</a></li>
      <li><a href="http://webenlance.com">Logo Design</a></li>
     
      </ul>
      <!--footer_ul_amrc ends here-->
      </div>
      
      
      <div class=" col-sm-4 col-md  col-12 col">
      <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
      <!--headin5_amrc ends here-->
      
      <ul class="footer_ul2_amrc">
      <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
      <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
      <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
      </ul>
      <!--footer_ul2_amrc ends here-->
      </div>
      </div>
      </div>
      
      
      <div class="container">
      <ul class="foote_bottom_ul_amrc">
      <li><a href="http://webenlance.com">Home</a></li>
      <li><a href="http://webenlance.com">About</a></li>
      <li><a href="http://webenlance.com">Services</a></li>
      <li><a href="http://webenlance.com">Pricing</a></li>
      <li><a href="http://webenlance.com">Blog</a></li>
      <li><a href="http://webenlance.com">Contact</a></li>
      </ul>
      <!--foote_bottom_ul_amrc ends here-->
      <p class="text-center">Copyright @2017 | Designed With by <a href="#">turing</a></p>
      
      <ul class="social_footer_ul">
      <li><a href="http://webenlance.com"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="http://webenlance.com"><i class="fab fa-twitter"></i></a></li>
      <li><a href="http://webenlance.com"><i class="fab fa-linkedin"></i></a></li>
      <li><a href="http://webenlance.com"><i class="fab fa-instagram"></i></a></li>
      </ul>
      <!--social_footer_ul ends here-->
      </div>
      
      </footer>
      
   </div>
</body>
</html>