<footer>
   <section>
     <!-- Facebook -->
     <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
     ><i class="fab fa-facebook-f"></i
   ></a>
    
   </section>
    <section class="listFooter">
      <div>
        <h5>CodeFriends</h5>
        <p>Visit our Medium publication The Slowdown for explorations of diversity, 
          inclusion, and the future.</p>
      </div>
        <div>
            <h4>What we do</h4>
            <ul>
                <li>Strategy</li>
                <li>Technology</li>
                <li>Transformation</li>
                <li>Industries</li>
            </ul>
        </div>
        <div>
          <h4>What we do</h4>
          <ul>
              <li>Strategy</li>
              <li>Technology</li>
              <li>Transformation</li>
              <li>Industries</li>
          </ul>
      </div>
      <div>
        <h4>What we do</h4>
        <ul>
            <li>Strategy</li>
            <li>Technology</li>
            <li>Transformation</li>
            <li>Industries</li>
        </ul>
    </div>
    </section>
    
    <div class="text-copyrig">
        © 2020 Copyright:
        <a class="text-white" href="">CodeFriends</a>
      </div>
</footer>
 